<h1><%= @list.name %></h1>

<%= link_to "Delete this list", list_path(@list), method: :delete, data: {confirm: "Are your sure?"}  %>
<%= link_to 'Back to lists', lists_path, class: 'btn btn-primary mt-4 mb-4 text-white'%>
